@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

#root {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
  overflow: hidden;
}

.colorBase {
  background-color: #E60012;
}
.imgAdministrador {
  width: 80px;
}

.bg-about-us {
  padding: 100px;
  background: linear-gradient(to bottom, rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)),
    url("../src/assets/kitchen-cook-flame-food.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.name-restaurante {
  text-align: center;
  color: rgb(204, 202, 202);
  padding-bottom: 10%;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-shadow: 0 0 1px rgb(31, 31, 31);
  filter: drop-shadow(4px 6px 8px rgb(33, 33, 33));
}

.text-about-us {
  color: rgb(204, 202, 202);
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 140%;
}

/*Estilos del footer*/
.iconFooter{
  color: red;
}
.iconFooter:hover {
  color: white;
}

.textoFooter{
  color: white;
}

.textoFooter:hover{
  color: red;
}

@media only screen and (max-width: 576px) {
  .bg-about-us {
    padding: 20px;
  }

  .name-restaurante {
    font-size: 2rem;
  }

  .text-about-us {
    font-size: 0.9rem;
  }
}

/*Aqui pongo todo el css de error 404*/

@media all and (max-width: 575px){
  .imgBanner{
      width: 100%;
      height: 250px;
      object-fit: cover;
  }
  .mainTitle{
      font-size: 16px;
  }
  .colTitle{
      height: 250px;
  }
  .customInput {
      max-width: 90%;
      width: 250px;
    }
}
@media all and (min-width: 575px)and (max-width: 767px){
  .imgBanner{
      width: 100%;
      height: 300px;
      object-fit: cover;
  }
  .mainTitle{
      font-size: 30px;
      font-weight: bolder;
  }
  .colTitle{
      height: 300px;
  }
  .customInput {
      max-width: 90%;
      width: 450px;
    }
}
@media all and (min-width: 768px){
  .imgBanner{
      width: 100%;
      height: 480px;
      object-fit: cover;
  }
  .mainTitle{
      font-size: 35px;
      font-weight: bold;
      
  }
  .colTitle{
      height: 480px;
      text-align: right;
  }
  .customInput {
      max-width: 90%;
      width: 550px;
    }
}
.cardEquipo{
  height: 450px;
  width: 170px;
  margin-right: 5px;
}
.imgEquipo{
  height: 260px;
  object-fit: cover;
}
